@page
@model RecipesManager.Pages.Recipes.EditModel
@using Entities
@{
    ViewData["Title"] = "Recipes - Edit";
}

<h1>Edit recipe</h1>
<div class="form-group">
    <form method="post" asp-page-handler="AddIngredients" asp-route-recipeId="@Model.Recipe.Id">
        <select class="form-control col-4" name="selectedIngredients" asp-items="@Model.IngredientChoices" multiple="multiple"></select>
        <input class="btn btn-secondary" type="submit" value="Add Ingredients" />
    </form>
</div>
<div class="form-group">
    <form method="post">
        <input class="form-control" asp-for="Recipe.Id" type="hidden" value="@Model.Recipe.Id" />
        <label asp-for="Recipe.Name"></label><br />
        <span asp-validation-for="Recipe.Name"></span>
        <input class="form-control" asp-for="Recipe.Name" value="@Model.Recipe.Name" />
        <label asp-for="Recipe.Description"></label><br />
        <span asp-validation-for="Recipe.Description"></span>
        <input class="form-control" asp-for="Recipe.Description" value="@Model.Recipe.Description" />
        <br />
        @for (int i = 0; i < Model.Recipe.Ingredients.Count; i++)
        {
            <h3>@Model.Recipe.Ingredients[i].Name</h3><a asp-page="/recipes/edit" asp-route-id="@Model.Recipe.Ingredients[i].Id" asp-route-recipeId="@Model.Recipe.Id" asp-page-handler="Delete">Delete</a>  <br>
            <input type="hidden" asp-for="@Model.Recipe.Ingredients[i].Id" value="@Model.Recipe.Ingredients[i].Id" />
            <input type="hidden" asp-for="@Model.Recipe.Ingredients[i].Name" value="@Model.Recipe.Ingredients[i].Name" />
            <label asp-for="@Model.Recipe.Ingredients[i].Amount"></label><br />
            <span asp-validation-for="@Model.Recipe.Ingredients[i].Amount"></span>
            <input class="form-control" asp-for="@Model.Recipe.Ingredients[i].Amount" />
            <label asp-for="@Model.Recipe.Ingredients[i].Unit"></label>
            <select class="form-control" asp-for="@Model.Recipe.Ingredients[i].Unit" asp-items="Html.GetEnumSelectList<Unit>()"></select>
            <br />
        }
        <input type="submit" value="Edit" class="btn btn-secondary" />
    </form>
</div>



